--- 
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html {
	position: relative;
	min-height: 100%;
}

body {
	letter-spacing: .25px;
    text-rendering: optimizeLegibility;	
}

.single-page {
	padding: 40px 0;
}

.header-container {
  // background: url('../protocol.jpg');

  color: #fff;
  margin-bottom: 80px;

  h1 {
	margin-top: 15px;
	font-weight: bold;
  }

  .intro {
	  text-align: center;
  }

  .intro-text {
	  margin: 0 auto;
	  max-width: 450px;
	  text-align: center;
  }
}

h2 {
	margin-bottom: 20px;
}

.toc {
	font-size: 85%
}

.toc-title {
	padding-left: 0.5rem
}

.toc-h1 {
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	margin-bottom: 0;
}

.toc-link {
	padding: 0.125rem 0.5rem; 
	color: #707070
}

.anchor {
	display: block;
	padding-top: 100px;
	margin-top: -100px;
}

pre[class=highlight] {
	padding: 9.5px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f6f8fa;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #f6f8fa
}

.highlight .hll {
	background-color: #EFEFEF
}

.highlight .c {
	color: #929292
}

.highlight .err {
	color: #929292
}

.highlight .k {
	color: #8959A8
}

.highlight .l {
	color: #F5871F
}

.highlight .n {
	color: #929292
}

.highlight .o {
	color: #545454
}

.highlight .p {
	color: #929292
}

.highlight .cm {
	color: #929292
}

.highlight .cp {
	color: #929292
}

.highlight .c1 {
	color: #929292
}

.highlight .cs {
	color: #929292
}

.highlight .gd {
	color: #C82829
}

.highlight .ge {
	font-style: italic
}

.highlight .gh {
	color: #545454;
	font-weight: bold
}

.highlight .gi {
	color: #718C00
}

.highlight .gp {
	color: #718C00;
	font-weight: bold
}

.highlight .gs {
	font-weight: bold
}

.highlight .gu {
	color: #3E999F;
	font-weight: bold
}

.highlight .kc {
	color: #8959A8
}

.highlight .kd {
	color: #8959A8
}

.highlight .kn {
	color: #3E999F
}

.highlight .kp {
	color: #4271AE
}

.highlight .kr {
	color: #8959A8
}

.highlight .kt {
	color: #EAB700
}

.highlight .ld {
	color: #718C00
}

.highlight .m {
	color: #F5871F
}

.highlight .s {
	color: #718C00
}

.highlight .na {
	color: #4271AE
}

.highlight .nb {
	color: #4271AE
}

.highlight .nc {
	color: #EAB700
}

.highlight .no {
	color: #EAB700
}

.highlight .nd {
	color: #3E999F
}

.highlight .ni {
	color: #545454
}

.highlight .ne {
	color: #C82829
}

.highlight .nf {
	color: #4271AE
}

.highlight .nl {
	color: #545454
}

.highlight .nn {
	color: #EAB700
}

.highlight .nx {
	color: #4271AE
}

.highlight .py {
	color: #545454
}

.highlight .nt {
	color: #3E999F
}

.highlight .nv {
	color: #C82829
}

.highlight .ow {
	color: #3E999F
}

.highlight .w {
	color: #545454
}

.highlight .mf {
	color: #F5871F
}

.highlight .mh {
	color: #F5871F
}

.highlight .mi {
	color: #F5871F
}

.highlight .mo {
	color: #F5871F
}

.highlight .sb {
	color: #718C00
}

.highlight .sc {
	color: #545454
}

.highlight .sd {
	color: #929292
}

.highlight .s2 {
	color: #718C00
}

.highlight .se {
	color: #F5871F
}

.highlight .sh {
	color: #718C00
}

.highlight .si {
	color: #F5871F
}

.highlight .sx {
	color: #718C00
}

.highlight .sr {
	color: #718C00
}

.highlight .s1 {
	color: #718C00
}

.highlight .ss {
	color: #718C00
}

.highlight .bp {
	color: #545454
}

.highlight .vc {
	color: #C82829
}

.highlight .vg {
	color: #C82829
}

.highlight .vi {
	color: #C82829
}

.highlight .il {
	color: #F5871F
}

.more-info {
	padding: 100px 0;

	p {
		padding: 0;
	}
}

.footer {
	padding: 50px 0;
	color: #000;
	background: #e9ecef;

	img {
		width: 100px;
		float: right;
	}
}

.navbar-brand img {
	width: 32px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,0.5);
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}
