<div id='mscc-cookie-container'>
  <div id='msccBanner' dir='ltr' data-site-name='uhf-code.visualstudio.com' data-mscc-version='0.4.0' data-nver='aspnet-2.0.7'
    data-sver='0.1.2' class='cc-banner' role='alert'>
    <div class='cc-container'>
      <svg class='cc-icon cc-v-center' x='0px' y='0px' viewBox='0 0 44 44' height='30px' fill='none' stroke='currentColor'>
        <circle cx='22' cy='22' r='20' stroke-width='2'></circle>
        <line x1='22' x2='22' y1='18' y2='33' stroke-width='3'></line>
        <line x1='22' x2='22' y1='12' y2='15' stroke-width='3'></line>
      </svg>
      <span class='cc-v-center cc-text'>This site uses cookies for analytics, personalized content and ads. By continuing to browse this site, you agree to
        this use.</span>
      <a href='https://go.microsoft.com/fwlink/?linkid=845480' aria-label='Learn more about Microsoft&#39;s Cookie Policy'
        id='msccLearnMore' class='cc-link cc-v-center cc-float-right' data-mscc-ic='false'>Learn more</a>
    </div>
  </div>
</div>