<header class="navbar navbar-expand-lg navbar-dark bg-primary lsp-navbar">
    <div class="container navbar-container">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <h1>LSP</h1>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            {% assign implementors = site.implementors | sort: 'index' %}
            {% assign specifications = site.specifications | sort: 'index' %}

            <ul class="navbar-nav ml-auto">
                <li {% if page.sectionid=='howItWorks' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href='{{ "/overview" | prepend: site.baseurl }}'>Overview</a>
                </li>
                <li {% if page.sectionid=='implementors' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href="{{ implementors.first.url | prepend: site.baseurl }}">Implementations</a>
                </li>
                <li {% if page.sectionid=='specification' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href='{{ specifications.first.url | prepend: site.baseurl }}'>Specification</a>
                </li>
                <li {% if page.sectionid=='inspector' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href='{{ "/inspector" | prepend: site.baseurl }}'>Inspector</a>
                </li>
            </ul>
        </div>

    </div>
</header>