---
layout: default
---

<div class="container">
    <div class="row single-page">
        <div class="col-lg-3 col-xl-2 d-none d-lg-block">
            <div class="card sticky-top" style="top: 40px">

                <ul class="nav flex-column list-unstyled">
                    {% assign sorted = site.implementors | sort: 'index' %}
                    {% for post in sorted %}
                    <li {% if page.title==post.title %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                        <a class="nav-link" href="{{ post.url | prepend: site.baseurl }}">
                            {{ post.shortTitle }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-8">
            <h1>Implementations</h1>
            <h2>{{ page.title }}</h2>
            <div  id="markdown-content-container">{{ content }}</div>
        </div>
        <div class="col-lg-2 d-none d-xl-block">
        </div>
    </div>
</div>
