---
layout: default
---

<div style="height: 1rem">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="card sticky-top" style="top: 4.5rem">
                <div class="card-header">
                    Implementations
                </div>
                <ul class="nav flex-column list-unstyled">
                    {% assign sorted = site.implementors | sort: 'index' %}
                    {% for post in sorted %}
                    <li {% if page.title==post.title %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                        <a class="nav-link" href="{{ post.url | prepend: site.baseurl }}">
                            {{ post.shortTitle }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
            <div  id="markdown-content-container">{{ content }}</div>
        </div>
    </div>
</div>
