---
layout: default
---

<div class="container">
    <div class="row single-page">
        <div class="d-none col-lg-2 d-lg-block lsp-sidebar">
            <div class="card">
                <ul class="nav flex-column list-unstyled">
                    {% assign sorted = site.implementors | sort: 'index' %}
                    {% for post in sorted %}
                    <li {% if page.title==post.title %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                        <a class="nav-link" href="{{ post.url | prepend: site.baseurl }}">
                            {{ post.shortTitle }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-12 col-lg-8" role="navigation" aria-label="Main">
            <nav id="small-nav" class="docs-nav d-lg-none">
                <label for="small-nav-dropdown"><h4>Topics</h4></label>
                <select name="implementors" id="small-nav-dropdown">
                    {% assign sorted = site.implementors | sort: 'index' %}
                    {% for post in sorted %}
                    <option value="{{ post.url | prepend: site.baseurl }}" {% if page.title==post.title %}selected{% endif %} >{{ post.shortTitle }}</option>
                    {% endfor %}
                </select>
            </nav>

            <h1>Implementations</h1>
            <h2>{{ page.title }}</h2>
            <div id="markdown-content-container">{{ content }}</div>
        </div>

        <div class="d-none col-lg-2 d-lg-block">

        </div>
    </div>
</div>
