---
layout: default
---

<div class="container">
    <div class="row single-page">
        <div class="d-none col-lg-2 d-lg-block lsp-sidebar">
            <div class="card">
                <ul class="nav flex-column list-unstyled">
                    {% for overview in site.data.overviews %}
                    <li {% if page.topic==overview.title %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                        <a class="nav-link" href="{{ overview.url | prepend: site.baseurl }}">
                            {{ overview.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-12 col-lg-8" role="navigation" aria-label="Main">
            <nav id="small-nav" class="docs-nav d-lg-none">
                <label for="small-nav-dropdown"><h4>Topics</h4></label>
                <select name="topics" id="small-nav-dropdown">
                    {% for overview in site.data.overviews %}
                    <option value="{{ overview.url | prepend: site.baseurl }}" {% if page.topic==overview.title %}selected{% endif %} >{{ overview.title }}</option>
                    {% endfor %}
                </select>
            </nav>

            <div id="markdown-content-container">{{ content }}</div>
        </div>

        <div class="d-none col-lg-2 d-lg-block">
        </div>
    </div>
</div>
