---
layout: default
---

<div style="height: 1rem">
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-2 d-none d-xl-block">
        </div>
        <div class="col-lg-8">
            <div id="markdown-content-container">{{ content }}</div>
        </div>
        <div class="col-lg-3 col-xl-2 d-none d-lg-block">
            <div class="sticky-top" style="top: 4.5rem">
                {% for toc-l1 in site.data.specification-toc %}
                <div class="card">
                    <div class="card-header toc-title">
                        {{ toc-l1.title }}
                    </div>
                    <div id="outlineAccordion" data-children=".item">
                        {% for toc-l2 in toc-l1.children %}
                        <div class="item">
                            <a class="nav-link toc-link" data-toggle="collapse" data-parent="#outlineAccordion" href="#{{ toc-l2.anchor }}" aria-expanded="true" aria-controls="exampleAccordion1">
                                {{ toc-l2.title }}
                            </a>
                            <div id="{{ toc-l2.anchor }}" class="collapse {% if toc-l2.anchor=='general' %}show{% endif%}" role="tabpanel">
                                <ul class="nav toc flex-column" style="padding-left: 0.5rem">
                                    {% for toc-l3 in toc-l2.children %}
                                    <li class="nav-item">
                                        <a class="nav-link toc-link" href="#{{ toc-l3.anchor }}">
                                            {{ toc-l3.title }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>